<p-dialog [(visible)]="!!member" modal="true" width="500" height="470" 
  (onHide)="cancel()" [closable]="false">
  <p-header>
    <h3 *ngIf="!member.id" class="title">Add Member</h3>
    <h3 *ngIf="member.id" class="title">Edit Member {{member.id}}</h3>
    <div class="title-container">
        <div class="actions">
          <button pButton class="action-item" type="button" icon="fa-check" label="Save" (click)="save()" [disabled]="false && memberForm.invalid"></button>
          <button pButton class="action-item" type="button" icon="fa-ban" label="Cancel" (click)="cancel()"></button>
        </div>
      </div>    
  </p-header>

  <div class="wrapper">
    <form #memberForm="ngForm">
      <div class="ui-g">
        <span class="ui-g-4">
          <label>First Name</label>
          <input [(ngModel)]="member.firstName" pInputText name="fname" type="text" 
            required maxlength="25" #fname="ngModel">
          <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="validation-error">First name is required</div>
        </span>
        <span class="ui-g-3">
          <label>Middle Name</label>
          <input [(ngModel)]="member.middleName" name="lname" type="text" maxlength="25" pInputText>
        </span>
        <span class="ui-g-5">
          <label>Last Name</label>
          <input [(ngModel)]="member.lastName" name="mname" type="text" pInputText
            required maxlength="50" #lname="ngModel">
          <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="validation-error">Last name is required</div>
        </span>
      </div>

      <div class="ui-g">
        <span class="ui-g-5">
          <label>Date of Birth</label>
          <p-calendar [(ngModel)]="member.dob" name="dob-cal" [showIcon]="true" dateFormat="dd/M/yy"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2020" #dob="ngModel"
            readonlyInput="true" required 
            (onSelect)="selectDOB($event)">
          </p-calendar>
          <div *ngIf="dobError || (dob.invalid && (dob.dirty || dob.touched))" class="validation-error">
            <div *ngIf="dob.errors && dob.errors.required">Date of Birth is required</div>
            <!-- <div *ngIf="dob.errors.forbiddenDob">DOB can't be future</div>               -->
            <div *ngIf="dobError">DOB can't be future</div>
          </div>          
        </span> 
        <span class="ui-g-3">
          <label>Gender</label>
          <p-dropdown [(ngModel)]="member.gender" name="gender" required [options]="genders" [style]="{'width':'100%'}" placeholder="Select a Gender" #gender="ngModel"></p-dropdown>
          <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="validation-error">Gender is required</div>
        </span>
        <span class="ui-g-4">
          <label>SIN</label>
          <input [(ngModel)]="member.sin" pInputText name="sin" type="text" required minlength="9" maxlength="9" #sin="ngModel">
          <div *ngIf="sin.invalid && (sin.dirty || sin.touched)" class="validation-error">
            <div *ngIf="sin.errors.minlength">9 digits are required</div>
            <div *ngIf="sin.errors.required">SIN is required</div>
          </div>
        </span>        
      </div>

      <div class="ui-g">
        <span class="ui-g-5">
          <label>Email</label>
          <input [(ngModel)]="member.email" name="email" type="text" required maxlength="40" pInputText> 
        </span>
        <span class="ui-g-3">
          <label>Language</label>
          <p-dropdown [(ngModel)]="member.language" name="lang" required [options]="languages" [style]="{'width':'100%'}"></p-dropdown>
        </span>
        <span class="ui-g-4">
          <label>Status</label>
          <p-dropdown *ngIf="isPromo" [(ngModel)]="member.membershipStatus" name="status" required [options]="memberStatus" placeholder="Select a status" [style]="{'width':'100%'}"></p-dropdown>
          <p-dropdown *ngIf="!isPromo" [(ngModel)]="member.membershipStatus" name="status" [options]="memberStatus" disabled [style]="{'width':'100%'}"></p-dropdown>        
        </span> 
      </div>

      <div class="ui-g">
        <span class="ui-g-5">
          <label>Address1</label>
          <input [(ngModel)]="member.address1" name="address1" type="text" required maxlength="50" pInputText> 
        </span>
        <span class="ui-g-4">
          <label>Address2</label>
          <input [(ngModel)]="member.address2" name="address2" type="text" maxlength="50" pInputText>
        </span>
        <span class="ui-g-3">
          <label>City</label>
          <input [(ngModel)]="member.city" name="city" type="text" required maxlength="50" pInputText>
        </span>    
      </div>

      <div class="ui-g">
        <span class="ui-g-4">
          <label>Province</label>
          <p-dropdown [(ngModel)]="member.province" name="prov" required [options]="provinces" placeholder="Select a Province" [style]="{'width':'100%'}"></p-dropdown>
        </span>
        <span class="ui-g-4">
          <label>Country</label>
          <input [(ngModel)]="member.country" name="country" type="text" required maxlength="2" pInputText disabled>        
        </span>
        <span class="ui-g-4">
          <label>Postal Code</label>
          <input [(ngModel)]="member.postalCode" name="postal" type="text" required pInputText>
        </span>
      </div> 
      
      <div class="ui-g">
        <span class="ui-g-4">
          <label>Created On</label>
          <p-calendar disabled [(ngModel)]="member.membershipEffdate" name="created-on" dateFormat="dd/M/yy" [style]="{'width':'100%'}"></p-calendar>
        </span>
        <span class="ui-g-4">
          <label>Coverage Effective</label>
          <p-calendar *ngIf="isPromo" [(ngModel)]="member.vitalityEffdate" name="cov-effective" [showIcon]="true" dateFormat="dd/M/yy" [style]="{'width':'100%'}"></p-calendar>
          <p-calendar *ngIf="!isPromo" disabled [(ngModel)]="member.vitalityEffdate" name="cov-effective" dateFormat="dd/M/yy" [style]="{'width':'100%'}"></p-calendar>
        </span>          
      </div>      
    </form>      
  </div>
</p-dialog>