h3 {
  display: block;
  float: left;
}

.title-container {
  position: relative;
  width: 100%;

  .title {
    float: left;
  }

  .actions {
    // position: relative;
    // top: 10px;
    font-size: 13px;
    float: right;
    cursor: pointer;
    
    .action-item {
      display: inline-block;
      margin-left: 10px;
    }
  }  
}
