<h1>{{firstName}}</h1>

<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Member Id</div>
    <div class="field-value">{{memberId}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Source</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">And Alt. ID</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Last Updated On</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Updated by</div>
  </div> 
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Last Name</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">First Name</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Middle Name</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Member Status</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">As of Date</div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Birth Date</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Gender</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">SIN</div>
    <div class="field-value">123456789</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Reward Level</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name"></div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Address</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Coverage Effective</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Terminated On</div>
    <div class="field-value"></div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name"></div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Customer Role</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">on C360</div>
    <div class="field-value"></div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">City</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Province</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Vitality Settings</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name"> </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Country</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Postal Code</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Employer External Id</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Relationship Code</div>
    <div class="field-value"></div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Language</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Email</div>
    <div class="field-value">{{memberDetail.email}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Vitality Product Code</div>
    <div class="field-value"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Effective Date</div>
    <div class="field-value"></div>
  </div>
</div>