<h1>{{firstName}}</h1>

<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Member Id</div>
    <div class="field-value">{{memberId}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Source</div>
    <div class="field-value">{{source}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">And Alt. ID</div>
    <div class="field-value">{{alternativeId}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Last Updated On</div>
    <div class="field-value">{{lastUpdateDate}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Updated by</div>
    <div class="field-value">{{lastUpdateUser}}</div>
  </div> 
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Last Name</div>
    <div class="field-value">{{lastName}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">First Name</div>
    <div class="field-value">{{firstName}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Middle Name</div>
    <div class="field-value">{{middleName}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Member Status</div>
    <div class="field-value">{{membershipStatus}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">As of Date</div>
    <div class="field-value">{{membershipEffDate}}</div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Birth Date</div>
    <div class="field-value">{{dob}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Gender</div>
    <div class="field-value">{{gender}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">SIN</div>
    <div class="field-value">{{SIN}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Reward Level</div>
    <div class="field-value">???</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name"></div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Address</div>
    <div class="field-value">{{address1}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Coverage Effective</div>
    <div class="field-value">???</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Terminated On</div>
    <div class="field-value">???</div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name"></div>
    <div class="field-value">{{address2}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Customer Role</div>
    <div class="field-value">{{role}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">on C360</div>
    <div class="field-value">???</div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">City</div>
    <div class="field-value">{{city}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Province</div>
    <div class="field-value">{{province}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Vitality Settings</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name"> </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Country</div>
    <div class="field-value">{{country}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Postal Code</div>
    <div class="field-value">{{postalCode}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Employer External Id</div>
    <div class="field-value">{{employerExternalId}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Relationship Code</div>
    <div class="field-value">{{relationshipCode}}</div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-2 item">
    <div class="field-name">Language</div>
    <div class="field-value">{{language}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name">Email</div>
    <div class="field-value">{{email}}</div>
  </div>
  <div class="ui-g-2 item">
    <div class="field-name"></div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Vitality Product Code</div>
    <div class="field-value">{{vitalityProdcode}}</div>
  </div>
  <div class="ui-g-3 item">
    <div class="field-name">Effective Date</div>
    <div class="field-value">{{vitalityProdcodeEffDate}}</div>
  </div>
</div>