:host {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.title-container {
  position: relative;
  display: table;
  margin: 20px 0 5px 0;
  width: 100%;

  .title {
    float: left;
  }

  .actions {
    position: relative;
    top: 10px;
    font-size: 13px;
    float: right;
    cursor: pointer;
    
    .action-item {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.field-name {
  font-weight: bold;
  padding: 3px;
}

.field-value {
  font-size: 14px;
}

p-dataTable {
  display: block;
}

.address {
  position: relative;
  top: 20px;
}

.section-header {
  float: left;

  button {
    margin-left: 20px;
  }
}

.ui-panel-title {
  font-size: 16px;
  display: inline-block;
  margin-top: 2px;  
}

.expand-table {
  padding: 0 0 0 25px;
}
