<div class="title-container">
  <mva-logo></mva-logo>
  <div class="actions">
    <button pButton class="action-item" type="button" icon="fa-plus-circle" label="Add Promo" (click)="add()"></button>
    <button pButton class="action-item" type="button" icon="fa-filter" label="Reset Filter" (click)="resetFilters()"></button>
    <button pButton class="action-item" type="button" icon="fa-refresh" label="Refresh" (click)="refresh()"></button>
  </div>
</div>

<p-growl [value]="errorMessage" [life]="3000" [sticky]="false"></p-growl>

<div class="data-container">
  <p-dataTable [value]="members" [rowHover]="true" [editable]="true" styleClass="'member-list'" #dt
    [rows]="45" [paginator]="true" [pageLinks]="5" [responsive]="true" [rowsPerPageOptions]="[25,45,90]" 
    (onEditInit)="initEmailUpdate($event.data)" (onEditComplete)="updateEmail($event.data)"
    (onEditCancel)="cancelUpdateEmail($event.data)" (onRowClick)="gotoDetail($event)"
  >
    <p-column field="id" header="ID" sortable="true" [filter]="true" filterMaxlength="8" [style]="{'width':'7%'}"></p-column>
    <p-column field="customerRole" header="Role" sortable="true" [filter]="true" [style]="{'width':'10%'}" filterMatchMode="equals">
      <ng-template let-col let-member="rowData" pTemplate="body">{{member[col.field] | codeName: 'customerRoles'}}</ng-template>
      <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="customerRoles" placeholder="Roles" [style]="{'width':'100%'}" 
          (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter">
        </p-dropdown>
      </ng-template>
    </p-column>
    <p-column field="firstName" header="First/Middle Name" sortable="true" [filter]="true">
      <ng-template pTemplate="body" let-member="rowData">
        <span>{{member.firstName}} {{member.middleName}}</span>
      </ng-template>
    </p-column>
    <p-column field="lastName" header="Last Name" sortable="true" [filter]="true"></p-column>
    <p-column field="gender" header="Gender" sortable="true" [filter]="true" [style]="{'width':'8%'}" filterMatchMode="equals">
      <ng-template let-col let-member="rowData" pTemplate="body">{{member[col.field] | codeName: 'genders'}}</ng-template>
      <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="genders" [style]="{'width':'100%'}" styleClass="ui-column-filter"
          (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)">
        </p-dropdown>
      </ng-template>        
    </p-column>
    <p-column field="birthDate" header="Date of Birth" sortable="true" filterMatchMode="contains" [filter]="true" [style]="{'width':'10%'}">
      <ng-template let-col let-member="rowData" pTemplate="body">
        <span>{{member[col.field] | date: 'dd/MMM/yyyy'}}</span>
      </ng-template>
    </p-column>
    <p-column field="memberBranchId" header="Branch" [style]="{'width':'10%'}"></p-column>
    <p-column field="email" header="Email" [filter]="true" [editable]="true" styleClass="email-col">
      <ng-template pTemplate="filter" let-col>
        <div class="email-filter">
          <p-checkbox [(ngModel)]="emailFilterChecked" label="Empty email" inputId="ee" binary="true" (onChange)="filterEmail()"></p-checkbox>
        </div>
      </ng-template>
      <ng-template let-col let-member="rowData" pTemplate="body">
        <div class="email-col-edit" 
          [class.invalid-email]="member.invalidEmail" [class.email-required]="isEmailEmpty(member)">{{member[col.field]}}
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<member-upsert *ngIf="newMember" [member]="newMember" [isPromoMember]="true"></member-upsert>
