
form {
  label {
    display: block;
  }

  input {
    width: 100%;
  }

  .ui-g {
    height: 60px;
  }
  // .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4 {
  //   padding-left: .2em;
  //   padding-right: .2em;
  // }
}
