/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'robotoregular';
  src: url('assets/fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot');
  src: url('assets/fonts/roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/roboto/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
    url('assets/fonts/roboto/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
    url('assets/fonts/roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* { margin:0; padding:0;}

html, body { 
  height: 100%; 
}

/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.ui-messages {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.ui-datatable {
  &.member-list {
    height: 100vh;
  }

  .ui-datatable-header {
    background: #00693c;
    padding: 3px 9px;
    color: white;
    border: none;
  }

  &.address {
    tbody > tr {
      height: 59px;
    }
  }

  tbody > tr.ui-widget-content.ui-datatable-odd {
    background-color: #f6fbf3;
  }

  th.ui-sortable-column:not(.ui-state-active):hover {
    // background-color: #0c5a49;
    // color: white;
  }

  .email-filter {
    label {
      cursor: pointer;
    }  
  }

  .ui-datatable-data > tr {
    > td {
      padding: 5px;
      // border-style: none;
      word-wrap: break-word;

      &.number-data {
        text-align: right;
      }

      &.center-text {
        text-align: center;
      }
    }
  } 
}

.ui-panel {
  margin-bottom: 10px;
  
  .ui-panel-content {
    padding: 1.5em 1em;
  }
}

.ui-fieldset {
  .ui-fieldset-legend {
    background-color: #00693c;
    color: white;
  }
} 

.ui-datepicker {
  width: 20em;
}

.ui-button {
  border: 1px solid #00693c !important;
  background-color: #4e803b !important;

  &:hover {
    background-color: #00693c !important;
  }
}
  